<%- include('../partials/head'); %>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>


    <section class="bannerTienda">
        <div class="text">    
            <h2>Ideas para Jugar</h2>
            <p>Juegos tradicionales con diseño para potenciar el desarrollo</p>
            <a href="/products">Tienda ONLINE</a>
        </div>
        <img  src="images/tamaiti_banner_home.png" alt="">
    </section>

    <section class="buscarEdad">
        <h2>¿Para qué edad buscás?</h2>
        <ul class="navFilterEdad">
            <li><a href="">1 a 3 años</a></li>
            <li><a href="">3 a 6 años</a></li>
            <li><a href="">6 a 9 años</a></li>
            <li><a href="">+9 años</a></li>
        </ul>
    </section>

    <section class="oportunidades">
        <h2>Oportunidades</br><span>para jugar</span> </h2>
        <div class="productList">

            <article class="productCard">
                <img src="../../../images/tamaiti_product_01.png" alt="producto1">
                <div class="text">
                    <h3 class="title">Memotest Espacial</h3>
                    <h5 class="edad">Edad 6 a 9 años</h5>
                    <h4 class="precio">$799,-</h4>
                    <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6>
                </div>
            </article>

        
            <article class="productCard">
                <img src="../../../images/tamaiti_product_01.png" alt="producto1">
                <div class="text">
                    <h3 class="title">Memotest Colores</h3>
                    <h5 class="edad">Edad 1 a 3 años</h5>
                    <h4 class="precio">$740,-</h4>
                    <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6>
                </div>
            </article>
            
            <article class="productCard">
                <img src="../../../images/tamaiti_product_01.png" alt="producto1">
                <div class="text">
                    <h3 class="title">Memotest Espacial</h3>
                    <h5 class="edad">Edad 6 a 9 años</h5>
                    <h4 class="precio">$799,-</h4>
                    <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6>
                </div>
            </article>
            
            <article class="productCard">
                <img src="../../../images/tamaiti_product_01.png" alt="producto1">
                <div class="text">
                    <h3 class="title">Memotest Dinosaurios</h3>
                    <h5 class="edad">Edad 2 a 9 años</h5>
                    <h4 class="precio">$700,-</h4>
                    <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6>
                </div>
            </article>
        </div>
    </section>
    


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

<%- include('../partials/closure'); %>