<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamaiti</title>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body >

<header>
    <a href="#"><img class='logo' src="../../public/img/tamaiti_logo.png" alt=""></a>
        <nav>
            <ul>
                <li><a href="">Mi carrito <i class="fa fas fa-cart-plus"></i></a></li>
                <li><a href="">Ingresar <i class="fa fas fa-user-alt"></i></a></li>
            </ul>
        </nav>
</header>

<section class="bannerTienda">
    <div class="text">    
        <h2>Ideas para Jugar</h2>
        <p>Lorem ipsum dolor sit amet.</p>
        <button><a href="">Tienda ONLINE</a></button></div>
    <img  src="../../public/img/tamaiti_banner_home.png" alt="">
</section>

<section class="buscarEdad">
    <h2>Buscar por edad</h2>
    <ul class="navFilterEdad">
        <li><a href="">1 a 3 años</a></li>
        <li><a href="">3 a 6 años</a></li>
        <li><a href="">6 a 9 años</a></li>
        <li><a href="">+9 años</a></li>
    </ul>
</section>

<section class="pructosOportunidades">
    <h2>Oportunidades para jugar</h2>

    <article class="productCard">
        <img src="" alt="">
        <h3 class="title">Memotest Espacial</h3>
        <h5 class="edad">6 a 9 años</h5>
        <h4 class="precio">$799,-</h4>
        <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6>
    </article>

    <article class="productCard">
        <img src="" alt="">
        <h3 class="title">Domino de Mar</h3>
        <h5 class="edad">3 a 6 años</h5>
        <h4 class="precio">$700,-</h4>
        <h6 class="formaPago"><strong>18 cuotas</strong> sin interés</h6>

    </article>

    <article class="productCard">
        <img src="" alt="">
        <h3 class="title">Domino de Dinosaurios</h3>
        <h5 class="edad">3 a 6 años</h5>
        <h4 class="precio">$700,-</h4>
        <h6 class="formaPago"><strong>18 cuotas</strong> sin interés</h6>
    </article>


    <article class="productCard">
        <img src="" alt="">
        <h3 class="title">Domino de Transporte</h3>
        <h5 class="edad">3 a 6 años</h5>
        <h4 class="precio">$700,-</h4>
        <h6 class="formaPago"><strong>18 cuotas</strong> sin interés</h6>

    </article>

</section>


<footer>
<ul class="navNosotros">
    <li><a href="">Sobre Nosotros</a></li>
    <li><a href="">Tienda Online</a></li>
</ul>

<ul class="navSocialMedia">
    <li><a href=""><i class="fa fa-instagram"></i></a></li>
    <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
</ul>
</footer>

</body>
</html>