<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamaiti</title>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body >

<header>
    <a href="index.html"><img class='logo' src="./img/tamaiti_logo.png" alt=""></a>
        <nav>
            <ul>
                <li><a href="">Mi carrito <i class="fa fas fa-cart-plus"></i></a></li>
                <li><a href="">Ingresar <i class="fa fas fa-user-alt"></i></a></li>
            </ul>
        </nav>
</header>

<section class="bannerTienda">
    <div class="text">    
        <h2>Ideas para Jugar</h2>
        <p>Lorem ipsum dolor sit amet.</p>
        <button><a href="">Tienda ONLINE</a></button></div>
    <img  src="./img/tamaiti_banner_home.png" alt="">
</section>

<section class="buscarEdad">
    <h2>¿Para qué edad buscás?</h2>
    <ul class="navFilterEdad">
        <li><a href="">1 a 3 años</a></li>
        <li><a href="">3 a 6 años</a></li>
        <li><a href="">6 a 9 años</a></li>
        <li><a href="">+9 años</a></li>
    </ul>
</section>

<section class="oportunidades">
    <h2>Oportunidades</br><span>para jugar</span> </h2>
<div class="productList">

    <article class="productCard">
        <img src="./img/tamaiti_product_01.png" alt="">
        <div class="text">
        <h3 class="title">Memotest Espacial</h3>
        <h5 class="edad">Edad 6 a 9 años</h5>
        <h4 class="precio">$799,-</h4>
        <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6>
        </div>
    </article>

   
    <article class="productCard">
        <img src="./img/tamaiti_product_01.png" alt="">
        <div class="text">
        <h3 class="title">Memotest Colores</h3>
        <h5 class="edad">Edad 1 a 3 años</h5>
        <h4 class="precio">$740,-</h4>
        <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6>
        </div>
    </article>
    
    <article class="productCard">
        <img src="./img/tamaiti_product_01.png" alt="">
        <div class="text">
        <h3 class="title">Memotest Espacial</h3>
        <h5 class="edad">Edad 6 a 9 años</h5>
        <h4 class="precio">$799,-</h4>
        <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6>
        </div>
    </article>
    
    <article class="productCard">
        <img src="./img/tamaiti_product_01.png" alt="">
        <div class="text">
        <h3 class="title">Memotest Dinosaurios</h3>
        <h5 class="edad">Edad 2 a 9 años</h5>
        <h4 class="precio">$700,-</h4>
        <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6>
        </div>
    </article>
</div>
</section>


<footer>
<ul class="navNosotros">
    <li><a href="">Sobre Nosotros</a></li>
    <li><a href="">Tienda Online</a></li>
</ul>

<ul class="navSocialMedia">
    <li><a href=""><i class="fa fa-instagram"></i></a></li>
    <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
</ul>
</footer>

</body>
</html>