<a href="#"><images class='logo' src="images/tamaiti_banner_home" alt=""></a>
<nav>
    <ul>
        <li><a href="">Mi carrito <i class="fa fas fa-cart-plus"></i></a></li>
        <li><a href="">Ingresar <i class="fa fas fa-user-alt"></i></a></li>
    </ul>
</nav>