
<nav class="menu">
    <div class="top">
    <a href="#" class="btn-menu"> <i class="fa fa-bars"></i></a>

    <a href="#"><img class='logo' src="../../../images/tamaiti_logo.png" alt="logo"></a>
    </div>

    <ul class="enlaces">
        <li><a href="#"><i class="fa fa-search "></i><span class="enlaceName">Buscar</span></a></li>
        <li><a href="#"><i class="fa fa-user"></i><span class="enlaceName">Ingresar</span></a></li>
        <li><a href="#"><i class="fa  fa-cart-plus"></i> <span class="enlaceName">Mi carrito </span></a></li>
    </ul>

</nav>



